
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-default">

  <!-- About Tab -->
  <ion-tab title="About" icon="icon ion-home" href="#/tab/about">
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab>

  <!-- Accel Tab -->
  <ion-tab title="Accel" icon="icon ion-heart" href="#/tab/accel">
    <ion-nav-view name="accel-tab"></ion-nav-view>
  </ion-tab>

  <!-- Compass Tab -->
  <ion-tab title="Compass" icon="icon ion-compass" href="#/tab/compass">
    <ion-nav-view name="compass-tab"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="Camera" icon="icon ion-camera" href="#/tab/camera">
    <ion-nav-view name="camera-tab"></ion-nav-view>
  </ion-tab>


</ion-tabs>
